{% extends 'base.html' %} {% block head %}
    <style>
        #borrowed-user {
            width: 20rem;
        }

        .borrowed-user-option {
            text-align: center;
        }
    </style>
{% endblock %} {% block content %}
    <div style="text-align: center;">
        <div class="ui message" style="width: 50%; margin-left: auto; margin-right: auto;">
            <h1 class="header">대출 : {{ book.title }}</h1>
            <p class="ui form">
            <form id="borrow-form" method="post">
                {% csrf_token %}
                <p>
                    <select id="borrowed-user" class="ui searWch dropdown" name="borrow-user" form="borrow-form">
                        {% for user in users %}
                            <option class="borrowed-user-option" value="{{ user.id }}">
                                {{ user.username }}
                            </option>
                        {% endfor %}
                    </select>
                </p>
                <label for="borrow-user"/>
                <input class="ui submit button" type="submit" value="대출 처리"/>
            </form>
            </p>
        </div>

    </div>
{% endblock %}
